
@mixin darkenizer($start, $numOfContainers, $color) {
  $percentage : ($numOfContainers + 1) * 10;  
  @for $index from $start to $start + $numOfContainers {
    $percentage: $percentage - 10;
    &:nth-child(#{$index}) {
        background-color: darken($color, $percentage);
    }
  }
}

@mixin lightenizer($start, $numOfContainers, $color) {
  $percentage : 0;
  @for $index from $start to $start + $numOfContainers {
    $percentage: $percentage + 10;
    &:nth-child(#{$index}) {
      background-color: lighten($color, $percentage);
    }
  }
}