<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="./content/main.scss">
  <title>Ejercicio 1</title>
</head>

<body>
  <header>
    <div>LOGO</div>
    <div class="nameCompany">LEMONCODE</div>
    <div>USER</div>
  </header>
  <nav>
    <div>BUSINESS</div>
    <div>CULTURE</div>
    <div>GEAR</div>
    <div>IDEAS</div>
    <div>SCIENCE</div>
    <div>SECURITY</div>
    <div>TRANSFORMATION</div>
  </nav>
</body>

</html>